body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea{
    max-width: 280px;
}*/ 



.link_standart_for_div{
    display: block; /* Ссылка как блочный элемент */
     text-align: center; /* Выравнивание по центру */
     height: 100%; /* Высота на весь слой */
     color: black; /* Цвет ссылки */

}
a{
    color: black; /* Цвет ссылки */
    font-size: 150%;
}
a:hover{

    color: red; /* Цвет ссылки */
}

img{
    width:100%;
    height:100%;
}
li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
   .text-box{
line-height:30px;
    height:30px;
    font-size: 14pt;
    width:100%;
   }

div.for_separation{

}

div.start_bot{
    height:50px;
    background-color:#C0C0C0;
    margin-top:10px;
}
div.start_visual_place{
    min-height:200px;
    
        background-color:grey;

}






/*main_header*/

#main_header_small_preloader {
    
    width: 70px;
    height: 70px;
    display:none;
    position:fixed;
    z-index: 101;
    margin-left:50%;
    margin-top:-50px;
    border:2px solid black;
    /*
    display: inline-block;
    vertical-align: top;
    display:none;
        */
    background: url('https://www.sstnet.com.br/img/preload.gif') no-repeat center center;
 }
div.main_header_small_Extended_search_div{
    float:right;
    margin-top:35px;
    width: 200px;
    height:30px;
    font-size: 10pt;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    /*35*/
   
    /*test*/
   /* display: inline-block;
    vertical-align: top;
       */
}
/*
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('/images/spinner.gif') no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}*/






div.main_header_small{
    margin-top:-50px;
    height:70px;
    width:100%;
    display:none;
    background-color: #C0C0C0;
    position:fixed;
    z-index:100;
    
}
div.main_header_small_link_Social{
    float:left;
    margin-top:5px;
    margin-left:5px;
    height:60px;
    width:40%;
    display: inline-block;
    vertical-align: top;
}
div.main_header_small_link_home{
    float:left;
    margin-top:35px;
    margin-left:5px;
    height:30px;
    width:100px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    

}

div.main_header_link_Social{
    
    float:left;
    margin-top:100px;
    margin-left:5px;
    height:60px;
    width:50%;
}
div.main_header_vk_follow_div{
 display:inline-block;
	width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #FFF;
    border: 2px solid black;
}
div.main_header_vk_follow_div:hover{
    background-color:grey;
}
.main_header_vk_follow{
    display: block; /* Ссылка как блочный элемент */
     text-align: center; /* Выравнивание по центру */
     height: 100%; /* Высота на весь слой */
     color: black; /* Цвет ссылки */
     margin-top:8px;
     font-size:23pt;
	text-decoration: none;
	
    
}
.main_header_vk_follow:hover{

    color: white; /* Цвет ссылки */
    text-decoration: none;
}

div.main_header_inst_follow_div{
 display:inline-block;
	width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #FFF;
    border: 2px solid black;
}
div.main_header_inst_follow_div:hover{
    background-color:grey;
}
.main_header_inst_follow{
    display: block; /* Ссылка как блочный элемент */
     text-align: center; /* Выравнивание по центру */
     height: 100%; /* Высота на весь слой */
     color: black; /* Цвет ссылки */
     margin-top:8px;
     font-size:23pt;
	text-decoration: none;
	
    
}
.main_header_inst_follow:hover{

    color: white; /* Цвет ссылки */
    text-decoration: none;
}
div.main_header_gh_follow_div{
 display:inline-block;
	width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #FFF;
    border: 2px solid black;
}
div.main_header_gh_follow_div:hover{
    background-color:grey;
}
.main_header_gh_follow{
    display: block; /* Ссылка как блочный элемент */
     text-align: center; /* Выравнивание по центру */
     height: 100%; /* Высота на весь слой */
     color: black; /* Цвет ссылки */
     margin-top:8px;
     font-size:23pt;
	text-decoration: none;
	
    
}
.main_header_gh_follow:hover{

    color: white; /* Цвет ссылки */
    text-decoration: none;
}


.main_header_str_search{
    width:100%;
    line-height:30px;
    height:30px;
    font-size: 14pt;
}

div.main_header_inline_block_form{
    width:19%;
}

div.main_header_div_lvl_1{
    height: 500px;
    background:  #C0C0C0;   
    

}
#main_header_sr_text{
    font-size: 250%;
}
#main_header_button_search{
    width: 100%;
    height:30px;
    font-size: 14pt;
    transition: 3s;
}

#main_header_button_search:hover{
    background-color: green;
    transition: 3s;
}

div.main_header_link_home{
    width: 200px;
    height:50px;
    display: inline-block;
}


div.main_header_link_add{
    width: 200px;
    height:50px;
    float: right;
    display: inline-block;
    border:1px solid black;
    border-radius: 10px;
}
div.main_header_form_all{
    min-width:420px;
    margin-top: 100px;
    margin-left:20%;
    height:200px;
    border:2px solid black;
     width:60%;
}
div.main_header_inline_block_form{
     display: inline-block;
     width:24%;
     height:100%;
    
}
div.main_header_Extended_search_div{
    float:right;
    margin-top:130px;
    width: 200px;
    height:30px;
    font-size: 10pt;
}



/*categories*/

div.categories_block{
    width: 49%;
    height:300px;
    display: inline-block;
}
div.categories_sum_block{
    width:60%;
    margin-left:20%;
}

/*Real_estate*/

div.Real_estate_body{
   
    width: 80%;
     margin-left:10%; 
}
div.Real_estate_body_compl{
     background:  #FFFAFA;
}
div.Real_estate_body2{
    margin-top:20px;
}
div.Real_estate_block_up{
     
}
div.Real_estate_one_block_up{
    display: inline-block;
     width: 33%;
}
div.Real_estate_img{
    display: inline-block;
    width: 500px;
    height:600px;
}
div.Real_estate_block_all{
    display: inline-block;
    width: 700px;
    height:600px;
}
div.Real_estate_block_s_e{
    
    display: inline-block;
    width: 300px;
}
.Real_estate_ref {
    margin-left:50px;
    font-size: 250%;
}
div.Real_estate_one_block{
    margin-top:30px;
    background: #FFFFFF;
}


/*list_ad*/
/*div.list_ad_extended_search_block{
    position: absolute;
    position:fixed;
    width:300px;
    height:600px;
    /*background-color:red;*
    margin-top:-480px;
    transition:3s;

}*/
#list_ad_form_for_ajax_2{
    /*height:300px;
    width:300px;*/
    
    display:block;
     position: absolute;
     background-color:#FFE4E1;
     transition:2s;
     position:fixed;
     margin-top:300px;
     
}

div.list_ad_extended_search{
   
   
    width:60px;
    height:200px;
    background-color:green;
   /* margin-top:-300px;*/
    
    transition:3s;
}
#form_for_ajax_1{
    margin-top:-30px;
}
div.form_for_ajax_1{
    margin-top:0px; 
    width: 50%; 
    vertical-align: top;
     display: inline-block; 
}
div.list_ad_body{
    margin-top:50px;
    margin-left:10%;
}
div.list_ad_block_right{
    margin-left:50px;
    vertical-align: top;
     width: 40%;
     background-color:green;
    display: inline-block;
}




/*list_ad_ajax_1*/

/*
div.list_ad_ajax_1_load{
    border-bottom :2px solid red;
    font-size: 20pt;
}
    */
div.list_ad_ajax_1_two_colums{
    margin-top:20px;
}
div.list_ad_ajax_1_price_div_lg{
    margin-top:-50px;
    width:100%;
    height:30px;
}
div.list_ad_ajax_1_price_div{
    width:60px;
    height:30px;
    margin-left:400px;
    border :1px solid black;
     transition: 3s;
     display: inline-block;
    vertical-align: top;
}
div.list_ad_ajax_1_price_div:hover {
    background-color:green;
     transition: 3s;
}
div.list_ad_ajax_1_cancel_div{
    width:65px;
    height:30px;
    margin-left:5px;
    border :1px solid black;
     transition: 3s;
     display: inline-block;
    vertical-align: top;
}
div.list_ad_ajax_1_cancel_div:hover {
    background-color:green;
     transition: 3s;
}
div.list_ad_ajax_1_rooms_div{
     width:90px;
    height:30px;
    margin-left:5px;
    border :1px solid black;
     transition: 3s;
     display: inline-block;
    vertical-align: top;
}
div.list_ad_ajax_1_rooms_div:hover {
    background-color:green;
     transition: 3s;
}
div.list_ad_ajax_1_block_one_ad{
    border-bottom :1px solid black;
    border-top :1px solid black;
     width: 100%;
    height:153px;
    background-color:#FFE4C4;
    min-width:400px;
     transition: 1s;
    
}
div.list_ad_ajax_1_block_one_ad:hover{
    background-color:#FFF8DC;
     transition: 1s;
    
}
div.list_ad_ajax_1_img{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height:150px;
}
div.list_ad_ajax_1_block_info_1_ad{
    display: inline-block;
    vertical-align: top;
    width: 69%;
    height:150px;
}
div.list_ad_ajax_1_link_block{
    margin-top:20px;
    width:100%;
    margin-left:40%;
}
div.ajaxLink_select{
     width:30px;
    border :1px solid black;
    display: inline-block;
    background-color:#BC8F8F;
}
div.ajaxLink_select_size_1{
     width:40px;
    border :1px solid black;
    display: inline-block;
    background-color:#BC8F8F;
}
div.ajaxLink_select_size_2{
     width:50px;
    border :1px solid black;
    display: inline-block;
    background-color:#BC8F8F;
}

div.ajaxLink{
    width:30px;
    border :1px solid black;
    display: inline-block;
    background-color:#FFE4C4;
     
}
div.ajaxLink:hover {
    background-color:#FFF8DC;
     
}
div.ajaxLink_size_1{
    width:40px;
    border :1px solid black;
    display: inline-block;
    background-color:#FFE4C4;
     
}
div.ajaxLink_size_1:hover {
    background-color:#FFF8DC;
     
}
div.ajaxLink_size_2{
    width:50px;
    border :1px solid black;
    display: inline-block;
    background-color:#FFE4C4;
     
}
div.ajaxLink_size_2:hover {
    background-color:#FFF8DC;
     
}
siv.list_ad_ajax_1_down{
  
    min-height:200px;
    width:100%;
}
div.list_ad_ajax_1_price_str{
    margin-top:-70px;
    height:30px;
}



/*vip_entry*/
div.vip_entry_block_one_ad{
 border-bottom :1px solid black;
    border-top :1px solid black;
     width: 100%;
    height:153px;
    background-color:#FF7F50;
    min-width:400px;
     transition: 1s;
    
}
div.vip_entry_block_one_ad:hover{
    background-color:#FFF8DC;
     transition: 1s;
    
}
div.vip_entry_img{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height:150px;
}
div.vip_entry_block_info_1_ad{
    display: inline-block;
    vertical-align: top;
    width: 69%;
    height:150px;
}
div.vip_entry_price_str{
    margin-top:-70px;
    height:30px;
}

/* Extended_search */
.Extended_search_category_dr_list{
     width:100%;
    line-height:30px;
    height:30px;
    font-size: 14pt;
}
div.Extended_search_div_form{
    width:45%;
    display: inline-block;
    vertical-align: top;
    height:200px;
}
#Extended_search_id_for_ajax{
    width:35%;
    display: inline-block;
    vertical-align: top;
}

div.Extended_search_body{
   margin-top:50px;
    width: 80%;
     margin-left:10%; 
}
.Extended_search_button_inp{
    height:30px;
     font-size: 14pt;
      transition: 3s;
}
.Extended_search_button_inp:hover{
    background-color: green;
     transition: 3s;
}

/* Extended_search_ajax_1 */
.Extended_search_ajax_1_line_srch{
    width:100%;
   line-height:30px;
    height:30px;
    font-size: 14pt;
}
.Extended_search_ajax_1_button_inp{
    height:30px;
     font-size: 14pt;
      transition: 3s;
}
.Extended_search_ajax_1_button_inp:hover{
    background-color: green;
     transition: 3s;
}


div.Extended_search_ajax_2_close{
    float:right;
    width:25px;
    height:25px;
    background-color:white;
    border: 1px solid black;
    
}


div.Extended_search_ajax_3_div_inline{
    display:inline-block;
    vertical-align: top;
    width:75%;
    
}
div.Extended_search_ajax_3_div_inline_3_symbol{
    display:inline-block;
    vertical-align: top;
    height:30px;
    width:30px;
    
}
.Extended_search_ajax_3_line_srch{
    width:100%;
   line-height:30px;
    height:30px;
    font-size: 14pt;
}



/*Show_one_ad*/

div.Show_one_ad_body{
    width:80%;
    padding-left:10%;


}
div.Show_one_ad_body_left{
    width:60%;
    display: inline-block;
     vertical-align: top;
}
div.Show_one_ad_body_right_1{
    margin-left:100px;
    min-width:300px;
    width:30%;
    min-height:400px;
    display: inline-block;
     vertical-align: top;
     background-color:#E6E6FA;
}
div.Show_one_ad_body_right_2{
    width:80%;
    margin-left:10%;
    margin-top:10%;
    min-height:250px;
     background-color:#DDA0DD;
}
div.Show_one_ad_body_right_3{
    width:100%;
    
    margin-top:5px;
    height:60px;
     background-color:#DC143C;
      transition: 3s;
}
div.Show_one_ad_body_right_3:hover {

    background-color:#FFA07A;
     transition: 3s;
    
}
div.Show_one_ad_header{
    
    padding-left:10%;
    font-size: 25pt;
    font-weight: 600;
}
div.Show_one_ad_Under_header{
    padding-left:10%;
    font-size: 20pt;
}
div.Show_one_ad_Description{
    border-bottom:1px solid black;
     border-top:1px solid black;
}
.Show_one_ad_block_name{
    font-size:18pt;
    font-weight: 600;
    
}
div.Show_one_ad_block_one_info{

    margin-top:100px;
    width:49%;
    display: inline-block;
     border-bottom:1px solid black;
      
     vertical-align: top;
     height:300px;

}
.Show_one_ad_phone_number{
    
font-size:20pt;
color:white;
}
div.Show_one_ad_price{
    font-size:25pt;
}
.Show_one_ad_name{
    font-size:20pt;
}
.Add_new_ad_button_inp{

 height:30px;
     font-size: 14pt;
      transition: 3s;
}
.Add_new_ad_button_inp:hover{
    background-color: green;
     transition: 3s;
}
.Add_new_ad_drop_d_l_inp{
    height:30px;
     font-size: 14pt;
     width:200px;
}


/*Add_new_ad*/
div.Add_new_ad_body{
    margin-top:50px;
    width: 80%;
     margin-left:10%; 
}
div.Add_new_ad_div_form{
    
     
      width:100%;
}
#Add_new_ad_id_for_ajax{
    
     
     width:100%;
     background-color:#FFFFF0;
}

/*Add_new_ad_ajax_1*/
.Add_new_ad_ajax_1_text_big{
    font-size:25pt;
}

.Add_new_ad_ajax_1_text_small{
    font-size:20pt;
}
.Add_new_ad_ajax_1_text_heigh{
    /*cols:40; 
    rows:5;*/
    min-height:200px;
    min-width:150px;
    width:300px;
    max-width:500px;
    
}
.Add_new_ad_ajax_1_drop_d_l_inp{
    height:30px;
     font-size: 14pt;
     width:200px;
}

.Add_new_ad_ajax_1_button_inp{

 height:30px;
     font-size: 14pt;
      transition: 3s;
      width:300px;
}
.Add_new_ad_ajax_1_button_inp:hover{
    background-color: green;
     transition: 3s;
}
.Add_new_ad_ajax_1_check_box{
    
}