body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.link_standart_for_div{
    display: block; /* Ссылка как блочный элемент */
     text-align: center; /* Выравнивание по центру */
     height: 100%; /* Высота на весь слой */
     color: black; /* Цвет ссылки */
}
a{
    color: black; /* Цвет ссылки */
    font-size: 150%;
}
a:hover{

    color: red; /* Цвет ссылки */
}

img{
    width:100%;
    height:100%;
}
li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }


div.for_separation{

}








div.main_header_div_lvl_1{
    height: 500px;
    /*/background: url(Content/img/1_5_Alfa_zelenaya.jpg);*/
    background:  #C0C0C0;   
    

}
#main_header_sr_text{
    font-size: 250%;
}
#main_header_button_search{
    width: 100%;
    height:30px;
}

div.main_header_link_home{
    width: 200px;
    height:50px;
    display: inline-block;
}


div.main_header_link_add{
    width: 200px;
    height:50px;
    float: right;
    display: inline-block;
    border:1px solid black;
    border-radius: 10px;
}
div.main_header_form_all{
    margin-top: 100px;
    margin-left:20%;
    height:100px;
    border:2px solid black;
     width:60%;
}
div.main_header_inline_block_form{
     display: inline-block;
     width:24%;
    
}



/*categories*/

div.categories_block{
    width: 49%;
    height:300px;
    display: inline-block;
}
div.categories_sum_block{
    width:60%;
    margin-left:20%;
}

/*Real_estate*/

div.Real_estate_body{
   
    width: 80%;
     margin-left:10%; 
}
div.Real_estate_body_compl{
     background:  #FFFAFA;
}
div.Real_estate_body2{
    margin-top:20px;
}
div.Real_estate_block_up{
     
}
div.Real_estate_one_block_up{
    display: inline-block;
     width: 33%;
}
div.Real_estate_img{
    display: inline-block;
    width: 500px;
    height:600px;
}
div.Real_estate_block_all{
    display: inline-block;
    width: 700px;
    height:600px;
}
div.Real_estate_block_s_e{
    
    display: inline-block;
    width: 300px;
}
.Real_estate_ref {
    margin-left:50px;
    font-size: 250%;
}
div.Real_estate_one_block{
    margin-top:30px;
    background: #FFFFFF;
}

/*list_ad*/
#form_for_ajax_1{
    
     width: 50%;
     vertical-align: top;
     display: inline-block;
}
div.list_ad_body{
    margin-top:50px;
    margin-left:10%;
}
div.list_ad_block_right{
    margin-left:50px;
    vertical-align: top;
     width: 30%;
     background-color:green;
    display: inline-block;
    min-height:1000px;
}
/*list_ad_ajax_1*/

div.list_ad_ajax_1_block_one_ad{
    border-bottom :1px solid black;
    border-top :1px solid black;
     width: 100%;
    height:200px;
    background-color:#FFE4C4;
    
}
div.list_ad_ajax_1_block_one_ad:hover{
    background-color:#FFF8DC;
    
}
div.list_ad_ajax_1_img{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height:150px;
}
div.list_ad_ajax_1_block_info_1_ad{
    display: inline-block;
    vertical-align: top;
    width: 69%;
    height:150px;
}
div.list_ad_ajax_1_link_block{
    margin-top:20px;
    width:100%;
    margin-left:40%;
}
div.ajaxLink{
    width:30px;
    border :1px solid black;
    display: inline-block;
    background-color:#FFE4C4;
}
div.ajaxLink:hover {
    background-color:#FFF8DC;
}
siv.list_ad_ajax_1_down{
  
    min-height:200px;
    width:100%;
}
