body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.link_standart_for_div{
    display: block; /* Ссылка как блочный элемент */
     text-align: center; /* Выравнивание по центру */
     height: 100%; /* Высота на весь слой */
     color: black; /* Цвет ссылки */
}
a{
    color: black; /* Цвет ссылки */
    font-size: 150%;
}
a:hover{

    color: red; /* Цвет ссылки */
}

img{
    width:100%;
    height:100%;
}
li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
   .text-box{
line-height:30px;
    height:30px;
    font-size: 14pt;
   }

div.for_separation{

}






/*main_header*/
.main_header_str_search{
    width:100%;
    line-height:30px;
    height:30px;
    font-size: 14pt;
}

div.main_header_inline_block_form{
    width:19%;
}

div.main_header_div_lvl_1{
    height: 500px;
    /*/background: url(Content/img/1_5_Alfa_zelenaya.jpg);*/
    background:  #C0C0C0;   
    

}
#main_header_sr_text{
    font-size: 250%;
}
#main_header_button_search{
    width: 100%;
    height:30px;
    font-size: 14pt;
}

#main_header_button_search:hover{
    background-color: green;
}

div.main_header_link_home{
    width: 200px;
    height:50px;
    display: inline-block;
}


div.main_header_link_add{
    width: 200px;
    height:50px;
    float: right;
    display: inline-block;
    border:1px solid black;
    border-radius: 10px;
}
div.main_header_form_all{
    margin-top: 100px;
    margin-left:20%;
    height:100px;
    border:2px solid black;
     width:60%;
}
div.main_header_inline_block_form{
     display: inline-block;
     width:24%;
     height:100%;
    
}
div.main_header_Extended_search_div{
    float:right;
    margin-top:35px;
    width: 200px;
    height:30px;
    font-size: 10pt;
}



/*categories*/

div.categories_block{
    width: 49%;
    height:300px;
    display: inline-block;
}
div.categories_sum_block{
    width:60%;
    margin-left:20%;
}

/*Real_estate*/

div.Real_estate_body{
   
    width: 80%;
     margin-left:10%; 
}
div.Real_estate_body_compl{
     background:  #FFFAFA;
}
div.Real_estate_body2{
    margin-top:20px;
}
div.Real_estate_block_up{
     
}
div.Real_estate_one_block_up{
    display: inline-block;
     width: 33%;
}
div.Real_estate_img{
    display: inline-block;
    width: 500px;
    height:600px;
}
div.Real_estate_block_all{
    display: inline-block;
    width: 700px;
    height:600px;
}
div.Real_estate_block_s_e{
    
    display: inline-block;
    width: 300px;
}
.Real_estate_ref {
    margin-left:50px;
    font-size: 250%;
}
div.Real_estate_one_block{
    margin-top:30px;
    background: #FFFFFF;
}

/*list_ad*/
#form_for_ajax_1{
    margin-top:-30px;
     width: 50%;
     vertical-align: top;
     display: inline-block;
}
div.list_ad_body{
    margin-top:50px;
    margin-left:10%;
}
div.list_ad_block_right{
    margin-left:50px;
    vertical-align: top;
     width: 40%;
     background-color:green;
    display: inline-block;
    min-height:1000px;
}
/*list_ad_ajax_1*/
div.list_ad_ajax_1_price_div_lg{
    
    width:100%;
    height:30px;
}
div.list_ad_ajax_1_price_div{
    width:60px;
    height:30px;
    float:right;
    border :1px solid black;
}
div.list_ad_ajax_1_block_one_ad{
    border-bottom :1px solid black;
    border-top :1px solid black;
     width: 100%;
    height:153px;
    background-color:#FFE4C4;
    
}
div.list_ad_ajax_1_block_one_ad:hover{
    background-color:#FFF8DC;
    
}
div.list_ad_ajax_1_img{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height:150px;
}
div.list_ad_ajax_1_block_info_1_ad{
    display: inline-block;
    vertical-align: top;
    width: 69%;
    height:150px;
}
div.list_ad_ajax_1_link_block{
    margin-top:20px;
    width:100%;
    margin-left:40%;
}
div.ajaxLink_select{
     width:30px;
    border :1px solid black;
    display: inline-block;
    background-color:#BC8F8F;
}
div.ajaxLink_select_size_1{
     width:40px;
    border :1px solid black;
    display: inline-block;
    background-color:#BC8F8F;
}
div.ajaxLink_select_size_2{
     width:50px;
    border :1px solid black;
    display: inline-block;
    background-color:#BC8F8F;
}

div.ajaxLink{
    width:30px;
    border :1px solid black;
    display: inline-block;
    background-color:#FFE4C4;
}
div.ajaxLink:hover {
    background-color:#FFF8DC;
}
div.ajaxLink_size_1{
    width:40px;
    border :1px solid black;
    display: inline-block;
    background-color:#FFE4C4;
}
div.ajaxLink_size_1:hover {
    background-color:#FFF8DC;
}
div.ajaxLink_size_2{
    width:50px;
    border :1px solid black;
    display: inline-block;
    background-color:#FFE4C4;
}
div.ajaxLink_size_2:hover {
    background-color:#FFF8DC;
}
siv.list_ad_ajax_1_down{
  
    min-height:200px;
    width:100%;
}
div.list_ad_ajax_1_price_str{
    margin-top:-70px;
    height:30px;
}



/*vip_entry*/
div.vip_entry_block_one_ad{
 border-bottom :1px solid black;
    border-top :1px solid black;
     width: 100%;
    height:153px;
    background-color:#FF7F50;
    
}
div.vip_entry_block_one_ad:hover{
    background-color:#FFF8DC;
    
}
div.vip_entry_img{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height:150px;
}
div.vip_entry_block_info_1_ad{
    display: inline-block;
    vertical-align: top;
    width: 69%;
    height:150px;
}
div.vip_entry_price_str{
    margin-top:-70px;
    height:30px;
}

/* Extended_search */
.Extended_search_category_dr_list{
     width:100%;
    line-height:30px;
    height:30px;
    font-size: 14pt;
}
div.Extended_search_div_form{
    width:45%;
    display: inline-block;
    vertical-align: top;
    height:200px;
}
#Extended_search_id_for_ajax{
    width:45%;
    display: inline-block;
    vertical-align: top;
}

div.Extended_search__body{
   margin-top:50px;
    width: 80%;
     margin-left:10%; 
}
.Extended_search_button_inp{
    height:30px;
     font-size: 14pt;
}
.Extended_search_button_inp:hover{
    background-color: green;
}

/* Extended_search_ajax_1 */
.Extended_search_ajax_1_line_srch{
    width:100%;
   line-height:30px;
    height:30px;
    font-size: 14pt;
}
.Extended_search_ajax_1_button_inp{
    height:30px;
     font-size: 14pt;
}
.Extended_search_ajax_1_button_inp:hover{
    background-color: green;
}



/*Show_one_ad*/

div.Show_one_ad_body{
    width:80%;
    padding-left:10%;


}
div.Show_one_ad_body_left{
    width:60%;
    display: inline-block;
     vertical-align: top;
}
div.Show_one_ad_body_right_1{
    margin-left:100px;
    min-width:300px;
    width:30%;
    height:400px;
    display: inline-block;
     vertical-align: top;
     background-color:#E6E6FA;
}
div.Show_one_ad_body_right_2{
    width:80%;
    margin-left:10%;
    margin-top:10%;
    height:250px;
     background-color:#DDA0DD;
}
div.Show_one_ad_body_right_3{
    width:100%;
    
    margin-top:5px;
    height:60px;
     background-color:#DC143C;
}
div.Show_one_ad_body_right_3:hover {
    background-color:#FFA07A;
    
}
div.Show_one_ad_header{
    
    padding-left:10%;
    font-size: 25pt;
    font-weight: 600;
}
div.Show_one_ad_Under_header{
    padding-left:10%;
    font-size: 20pt;
}
div.Show_one_ad_Description{
    border-bottom:1px solid black;
     border-top:1px solid black;
}
.Show_one_ad_block_name{
    font-size:18pt;
    font-weight: 600;
    
}
div.Show_one_ad_block_one_info{

    margin-top:100px;
    width:49%;
    display: inline-block;
     border-bottom:1px solid black;
      
     vertical-align: top;
     height:300px;

}
.Show_one_ad_phone_number{
    
font-size:20pt;
color:white;
}
div.Show_one_ad_price{
    font-size:25pt;
}
.Show_one_ad_name{
    font-size:20pt;
}