@model irr.Models.Entry
    @using Newtonsoft.Json;

@{
    
    ViewBag.Title = "Add_new_ad_img_step";
}

@{
/*
 @foreach (var i in ViewBag.Images_byte)
                {
                    @Html.Raw("<img style='width:100px; height:100px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(i) + "\" />")

                }
 */
}


<p>
    @using (Html.BeginForm("Ad_img_add_ad", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Hidden("obg", JsonConvert.SerializeObject(Model))
        <input type="file" name="uploadImage[0]" />
        <input type="file" name="uploadImage[1]" />
        <input type="file" name="uploadImage[2]" />
        <input type="file" name="uploadImage[3]" />
        <input type="file" name="uploadImage[4]" />
        <input type="file" name="uploadImage[5]" />
        <input type="file" name="uploadImage[6]" />
        <input type="file" name="uploadImage[7]" />
        <input type="file" name="uploadImage[8]" />
        <input type="file" name="uploadImage[9]" />



                        <input type="submit" value="Добавить" />
    }
</p>



