@model irr.Models.list_ad_View

@{

    ViewBag.Title = "list_ad";
    
}

<div>
    <div>
        @Html.Action("Main_header", "Home")
    </div>
        <div id="form_for_ajax_1">
            @Html.Action("list_ad_ajax_1","Home", new { res = Model })
           
            



    </div>
    <div>
        @foreach (var i in Model.str)
        {
            <div class="ajaxLink">
                @Ajax.ActionLink(i.ToString(), "list_ad_ajax_1", "Home",
new { res = Model },
new AjaxOptions
{
    UpdateTargetId = "form_for_ajax_1"

})
            </div>
        }


    </div>
</div>
